.nav-pills li a:hover{
    /* background-color:#E3E1D9; */
    background-color:rgb(116, 116, 157);;
}
#dashboard{
    width:65vw;
    position:absolute;
    left: 0;
  
      }
    

.item{
    margin-left: -22vh;
    
}

.color{
    background-color: rgb(66, 66, 126);
    min-height:90vh!important;
    margin-top:-10;
   
}

/* .Menu{
    margin-bottom:10;
} */


.p-2{
    margin-top: 100;
}

.sidebar{
    position: fixed;
}

